button[title^="Répondre au message"]{
    position:relative!important;
    z-index:9999!important;
}
button[title^="Répondre au message"]::before{
    content:""!important;
    position:fixed!important;
    top:0!important;
    left:0!important;
    width:100vw!important;
    height:100vh!important;
    z-index:9998!important;
    cursor:pointer!important;
    opacity:0.01!important;
    background:transparent!important;
}
